section article{
    position: absolute;
    background-color: var(--secondarycolor);
    height: 715px;
    width: 87.5%;
    top: 10px;
    left: 180px;
    border-radius: 20px;
    opacity: 0;
    animation: article-intro 1s ease 0.6s forwards;
}

section article p {
    font-size: 25px;
    font-family: var(--textfont);
    color: var(--textcolor);
    width: 850px;
    margin: 30px;
    opacity: 0;
    animation: apareceTexto 0.4s ease forwards;
    animation-delay: 1.6s;
}
@keyframes apareceTexto {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section article img {
    position: absolute;
    top: 40px;
    width: 400px;
    border-radius: 10px;
    right: 20px;
    opacity: 0;
    animation: apareceTexto 0.8s ease forwards;
    animation-delay: 1.2s;
}

@keyframes article-intro {
    0% {
        transform: scaleY(0);
        transform-origin: bottom;
        border-radius: 100px;
        opacity: 0;
    }
    60% {
        opacity: 1;
        transform: scaleY(0.95);
    }
    100% {
        transform-origin: bottom;
        transform: scaleY(1);
        opacity: 1;
    }
}

